<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :responsible %><br>
    <%= f.text_field :responsible %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: [:wide, :tall] %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :finished %><br>
    <%= f.check_box :finished %>
  </div>

  <%= hidden_field(:entry, :minute_id) %>

  <div class="actions">
    <%= f.submit 'Salvar entrada' %>
  </div>
<% end %>
