<h1>Listando todas as atas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Membros presentes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes.each do |minute| %>
      <tr class='redirect realce' data-url='<%= edit_minute_path minute %>'>
        <td><%= minute.date.to_date %></td>
        <td><%= minute.members %></td>
        <td><%= link_to 'Deletar', minute, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nova ata', new_minute_path, method: :get %>

<%= link_to 'Update', update_worker_path, method: :put %>